<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @user.username %></strong>
  
</h1>
<% if @user.ratings.count > 0%>
<p> Has made <%=pluralize(@user.ratings.count, 'rating')%>, average rating: <%=@user.average_rating%></p>
<p><strong>Ratings: </strong></p>

<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>
<% else %>
<p> This user has no ratings! </p>
<% end %>

<p>
  <% if @user.beer_clubs.any? %>
    <strong>Member of: </strong>
    <% @user.beer_clubs.each do |club| %>
      <li> <%= link_to club.name, club %> </li>
    <% end %>
  <% end %>
</p>

<%= link_to 'Change password', edit_user_path(@user) %> |
<td><%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td> |
<%= link_to 'Back', users_path %>
